/* Background */
body{
    background: url("./assets/jumbo-background.png") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
}



/* Start Page */
#start-banner{
    position: relative;
    margin-top: 20rem;
    background: rgba(169,169,169, 0.9);
}

#start-button, #score-button, #restart-button, #save-button {
    margin: .6rem;
}



/* Quiz Card */
#question-img{
    max-height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
}

#quiz-card{
    position: relative;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 40rem;
    background: rgba(255, 255, 255, 0.95);
    display: none;
}

/* Text formatting */
#timer, #score {
    font-size: 2rem;
}

#question-text {
    padding: 1rem;
}

/* Button formatting */
#button-group {
    margin-top: 1rem;
}

.answer-button {
    margin: 1rem;
}



/* Game Over Screen */
#game-over-card {
    position: relative;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 40rem;
    background: rgba(255, 255, 255, 0.95);
    display: none;
}

#game-over-image{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 200px;
    width: auto;
}

/* Text Formatting */
#final-score{
    font-size: 2rem;
}

#final-score-button {
    display: block;
    margin-left: 2rem;
}

#final-timer {
    font-size: 2rem;
}

#input-whole {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}



/* Scorecard formatting */
#score-card {
    position: relative;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 40rem;
    background: rgba(255, 255, 255, 0.95);
    display: none;
}